* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 400;
}

.cuerpo {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

li {
  list-style: none;
}

h1 {
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 200;
}

/* HEADER (del index)*/

.contenedor {
  background-image: url(../imagenes/otras/container5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

ul li a {
  color: rgb(248, 242, 233);
  font-weight: 500;
  font-size: 1rem;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.close,
.open {
  display: none;
}

.open img {
  width: 40px;
  height: 40px;
}

.close img {
  width: 30px;
  height: 30px;
}

.menuprincipal {
  background-color: rgba(24, 24, 33, 0.858);
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu {
  width: 100%;
  margin: auto;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuprincipal li a {
  display: inline-block;
  padding: 0rem 1.25rem;
  margin-right: 20px;
  font-size: 0.9rem;
  letter-spacing: 2.5px;
  transition: color 0.3s;
}

.menuprincipal a:hover {
  color: rgb(228, 125, 41);
}

.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  top: 1rem;
  left: 10px;
}

.palabras {
  display: flex;
  width: 39rem;
  height: 12rem;
  text-align: center;
  margin: 15px;
  font-size: 8rem;
  color: rgb(255, 250, 245);
  font-family: "anton", sans-serif;
  line-height: 12rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border: solid 4px white;
}

.palabras ul {
  list-style: none;
  margin: auto;
  animation: deslizar infinite;
  animation-duration: 12.5s;
  animation-timing-function: linear;
}

@keyframes deslizar {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }

  20% {
    margin-top: -12rem;
  }
  35% {
    margin-top: -12rem;
  }

  40% {
    margin-top: -24rem;
  }
  55% {
    margin-top: -24rem;
  }

  60% {
    margin-top: -36rem;
  }
  75% {
    margin-top: -36rem;
  }

  80% {
    margin-top: -48rem;
  }
  95% {
    margin-top: -48rem;
  }

  100% {
    margin-top: 0;
  }
}

/* HEADER (demás secciones) */

.menusecciones {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.seleccionado {
  color: rgb(246, 134, 68);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 8px;
}

/* BODY INDEX */

.tp1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row-reverse;
}

.titulo1 {
  font-size: 3.6rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
  line-height: 1.3;
  margin-right: 6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 3.3rem;
  color: rgb(137, 170, 75);
  width: 40%;
  position: relative;
  border-left: solid 3.5px rgb(137, 170, 75);
  padding-left: 2.8rem;
}

.p1index {
  width: 49%;
  line-height: 2.7;
  padding-right: 2rem;
  margin-top: 5em;
  margin-left: 2rem;
}

.p2index {
  background-color: rgb(76, 75, 85);
  font-size: 1.1rem;
  text-align: center;
  line-height: 2.7;
  color: #fff;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.p3index {
  padding: 5rem 4.5rem;
  line-height: 2.7;
  text-align: center;
}

.contenedor2 {
  background-image: url(../imagenes/otras/container2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  border-radius: 20px;
}

.titulo2 {
  font-size: 3.6rem;
  font-family: "Anton", sans-serif;
  color: rgb(137, 170, 75);
  letter-spacing: 5px;
  line-height: 1.3;
  border-right: solid 3px rgb(137, 170, 75);
  width: 43%;
  display: inline-block;
  margin-bottom: 4rem;
  margin-left: 4rem;
  padding-top: 4.7rem;
  padding-bottom: 2rem;
}

.conitem {
  list-style-image: url(../imagenes/varias/iconocopia.jpg);
  width: auto;
}

.p4index {
  display: inline-block;
  width: 45%;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 5rem;
  margin-left: 1.7rem;
  padding-top: 2rem;
}

.p6index {
  font-size: 1.1rem;
  text-align: center;
  line-height: 2.7;
  color: rgb(38, 37, 37);
  padding: 5rem;
}

.contenedor3 {
  background-image: url(../imagenes/plantas/terraza3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  border-radius: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* FOOTER (todas las secciones) */

footer {
  background-color: rgba(30, 30, 31, 0.966);
  color: #fff;
  width: 100%;

  margin: auto;
}

.fixed div {
  position: relative;
}

.volver {
  background: rgba(134, 133, 132, 0.708);
  color: rgb(51, 49, 49);
  font-size: 2rem;
  font-weight: 500;
  margin: auto;
  border-radius: 4px;
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-left: 15px;
  margin-bottom: 15px;
  position: fixed;
  bottom: 6px;
}

.whatsapp img {
  width: 3.2rem;
  height: 3rem;
  margin: auto;
  margin-bottom: 15px;
  position: fixed;
  bottom: 6px;
  right: 20px;
}

footer li {
  color: #fff;
}

footer li img {
  margin-right: 8px;
}

.contactocentrado {
  text-align: center;
}

.piecontacto ul {
  list-style: none;
  text-align: center;
  padding-bottom: 2rem;
}

.piecontacto li {
  line-height: 3;
}

.piecontacto h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 200;
}

.consultas {
  line-height: 2;
  text-align: center;
}

.flex-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icono-contacto {
  width: 2.3rem;
  height: 2.3rem;
  background-color: white;
  padding: 2px;
  border-radius: 120px;
  display: inline;
  transition: 0.3s;
}

footer li img:hover {
  border-radius: 0;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 15px;
}

.icono-contacto img:hover {
  border-radius: 8px;
}

/* BODY SERVICIOS y NOSOTROS */

.item-s {
  list-style: square;
}

/* BODY NOSOTROS */

.contenedor-nosotros {
  background-image: url(../imagenes/otras/container5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 8rem;
}

.quienes-somos {
  background-color: rgba(4, 15, 7, 0.603);
  height: 100vh;
}

.quienes-somos section p {
  font-size: 1.3rem;
}

.contenedor-nosotros h1 {
  padding-top: 5.5rem;
  color: rgb(255, 255, 242);
  font-family: "Montserrat", sans-serif;
  animation-duration: 3s;
  animation-name: aparecer-h1;
}

.contenedor-nosotros p {
  padding-left: 11rem;
  padding-right: 11rem;
  text-align: center;
  line-height: 2.7;
  font-size: 1.2rem;
  color: rgb(255, 255, 242);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
  animation-duration: 3s;
  animation-name: aparecer-p;
}

@keyframes aparecer-h1 {
  0% {
    opacity: 0;
    font-size: 1.5rem;
  }

  100% {
    opacity: 1;
    font-size: 2.6rem;
  }
}

@keyframes aparecer-p {
  0% {
    opacity: 0;
    font-size: 1.2rem;
  }

  100% {
    opacity: 1;
    font-size: 1.3rem;
  }
}

#carouselExampleIndicators {
  width: 100%;
  margin: 2rem;
  border-radius: 20px;
}

#carouselExampleIndicators img {
  border: double white 3px;
  border-radius: 15px;
}

.articulo div {
  width: 45%;
}

.articulo h2 {
  margin-bottom: 2rem;
}

.articulo ul {
  line-height: 2.1;
  margin-left: 2rem;
}

.div-clas-5 {
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 1fr;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

#carouselExampleIndicators div:nth-child(2) {
  /*GRID AREA: grid-row-start / grid-column-start / grid-row-end /grid-column-end; */
  grid-area: 1 / 1 / span 1 / span 1;
}

.div-clas-5 article:nth-child(1) {
  grid-area: 1 / 2 / span 1 / span 1;
}

/* BODY SERVICIOS */

.titulo-servicios {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgb(98, 123, 52);
}

.parrafo-servicios {
  line-height: 2.7;
  text-align: justify;
}

.imagenes-servicios {
  border-radius: 1rem;
}

.animacion-imagenes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.animacion-imagenes img {
  width: 100%;
  height: 533px;
  transition: width 1s;
}

.foto1 {
  z-index: 5;
}

.foto2 {
  z-index: 4;
}

.foto3 {
  z-index: 3;
}

.foto4 {
  z-index: 2;
}

.foto5 {
  z-index: 1;
}

.animacion-imagenes img:hover {
  width: 385px;
  height: 533px;
}

/*  decoración */

.grid-decoracion {
  display: flex;
  flex-direction: row;
}

/*  mantenimiento */

.grid-mantenimiento {
  display: flex;
  flex-direction: row;
}

/*  jardin vertical */

.grid-vertical {
  display: flex;
  flex-direction: row;
}

/*  plantas */

.grid-plantas {
  display: flex;
  flex-direction: row;
}

/*  iluminacion */

.grid-iluminacion {
  display: flex;
  flex-direction: row;
}

/*  ecologico */

.grid-ecologico {
  display: flex;
  flex-direction: row;
}

/* BODY H1 Secciones */

#arriba {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#accordionExample div {
  background-color: rgba(241, 229, 229, 0.739);
}

/* BODY TRABAJOS */

/* íconos */

.iconos img {
  width: 130px;
  height: 130px;
  margin-right: 12px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.iconos {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin-bottom: 10rem;
}

.iconos a {
  color: black;
}

.iconos div {
  border: solid 1px black;
  border-radius: 15px;
  margin: 12px;
  padding: 12px;
  transition: 0.6s;
  height: 18rem;
  width: 13rem;
}

.iconos div:hover {
  border: solid 3px rgb(8, 206, 84);
  color: rgb(8, 206, 84);
  transform: scale(1.07);
}

.h2galeria {
  font-size: 1.9rem;
  color: white;
  font-weight: 200;
  text-align: center;
  letter-spacing: 12px;
  padding-bottom: 3rem;
}

.division {
  background-color: white;
  width: 100%;
  height: 7rem;
}

/* Fotos */

.fondo-galeria {
  background-color: rgb(30, 29, 31);
  padding: 5rem;
  width: 100%;
  transition: all 1s;
}

.fondo-galeria img {
  transition: 1s;
}

.fondo-galeria img:hover {
  display: flex;
  justify-content: center;
  transform: scale(1.2);
}

.grid-deco img,
.grid-decoracion img,
.grid-mantenimiento img,
.grid-ecologico img,
.grid-muebles img,
.grid-iluminacion img,
.grid-plantas img,
.grid-vertical img {
  border-radius: 10px;
  width: 100%;
  border: solid rgb(255, 255, 255) 5px;
}

.grid-deco,
.grid-decoracion,
.grid-mantenimiento,
.grid-ecologico,
.grid-muebles,
.grid-iluminacion,
.grid-plantas,
.grid-vertical {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

/* fotos decoración */
.grid-deco img:nth-child(1) {
  /*GRID AREA: grid-row-start / grid-column-start / grid-row-end /grid-column-end; */
  grid-area: 1 / 1 / span 2 / span 1;
}

#deco2 {
  height: 562px;
}

#suelo-madera {
  height: 360px;
}

/* fotos mantenimiento */
#remodelacion {
  height: 333px;
}

/* fotos productos ecológicos */
#mueble-p {
  height: 412px;
}

#barra {
  height: 400px;
}

#mesa {
  height: 405px;
}

.grid-ecologico img:nth-child(1) {
  grid-area: 1 / 1 / span 2 / span 1;
}

/* fotos muebles de exterior */
#reposeras {
  height: 360px;
}

/* fotos jardín vertical */

.grid-vertical img:nth-child(1) {
  grid-area: 1 / 1 / span 2 / span 1;
}

.grid-vertical img:nth-child(5) {
  grid-area: 3 / 1 / span 2 / span 1;
}

#vertical1 {
  height: 270px;
}

#vertical5 {
  height: 350px;
}

#vertical-port {
  height: 420px;
}

/* BODY COMO TRABAJAMOS */

.como-trabajamos-body {
  background-image: url(../imagenes/plantas/terraza1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.separador {
  padding-bottom: 3rem;
}

.como-t {
  background-color: rgba(253, 253, 238, 0.65);
  padding: 2rem;
  border-radius: 5px;
}

.parrafo-como-trabajamos {
  text-align: center;
  line-height: 2.5;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  padding: 2rem;
}

/* BODY CONTACTO */

.campos,
.campo2,
.consulta,
.textarea,
.enviar {
  text-align: center;
}

.campos input {
  width: 395px;
  height: 30px;
  font-size: 1rem;
  border: rgb(113, 111, 111);
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(223, 218, 218, 0.701);
  padding-left: 8px;
  transition: all 0.6s;
}

input:focus {
  width: 400px;
  font-size: 1.4rem;
}

textarea {
  width: 395px;
  height: 100px;
  font-size: 1rem;
  font-family: Open Sans, Sans-serif;
  border: rgb(113, 111, 111) 1px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(223, 218, 218, 0.701);
  padding-left: 8px;
  transition: all 0.6s;
  resize: none;
}

textarea:focus {
  width: 400px;
  font-size: 1.4rem;
}

.campo2 input {
  margin: 8px;
  width: auto;
  height: auto;
}

.campo2 label {
  transition: 0.3s;
}

.campo2 label:hover,
input:hover {
  font-weight: bold;
}

.enviar input {
  width: 100px;
  height: 40px;
  margin: 20px;
  font-weight: bold;
  border: rgb(130, 127, 127);
  border-radius: 5px;
  background-color: rgba(223, 218, 218, 0.701);
  transition: all 0.3s;
}

.enviar input:hover {
  background-color: rgb(157, 159, 157);
  width: 90px;
  height: 34px;
}

/* MOBILE */

@media (max-width: 768px) {
  /* HEADER (nav) */

  .menuGris {
    background-color: rgb(43, 36, 36);
    z-index: 6;
  }

  .open {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .menusecciones li,
  .menu li {
    margin: 12px 0;
  }

  /* logo redondo ecogarden */

  #inicio {
    width: 9rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    padding: 0;
    top: 5rem;
    right: 50%;
    justify-content: center;
    align-items: center;
  }

  #nav:target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu,
  .menusecciones {
    flex-direction: column;
    text-align: center;
  }

  .menuprincipal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 39, 46);
    padding-top: 0;
    z-index: 1;
  }

  /* Index */

  header .contenedor {
    background-attachment: local;
  }

  .palabras {
    width: 15rem;
    height: 11rem;
    margin: 15px;
    font-size: 3rem;
    top: 10rem;
    left: 2.4rem;
  }

  .tp1 {
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .titulo1 {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 2rem;
    border-left: none;
    text-align: center;
  }

  .p1index {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: left;
  }

  .p2index {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
  }

  .tp2 {
    flex-direction: column;
  }

  .titulo2 {
    font-size: 2rem;
    border-right: none;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
  }

  .p3index {
    padding: 0.5rem;
    text-align: left;
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .p4index {
    width: auto;
    font-size: 0.8rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  .p4index br {
    display: none;
  }

  .conitem {
    list-style: square;
  }

  .contenedor2 {
    display: none;
  }

  .contenedor3 {
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
  }

  /* footer */

  .icono-contacto {
    width: 1.5rem;
    height: 1.5rem;
  }

  .piecontacto h2 {
    font-size: 1rem;
  }

  .whatsapp img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 30px;
  }

  /* sección Nosotros */

  #arriba {
    font-size: 1.7rem;
  }

  .contenedor-nosotros {
    margin-bottom: 1.3rem;
  }

  .quienes-somos section p {
    padding: 0.4rem;
    margin: 0.5;
    font-size: 0.9rem;
  }

  @keyframes aparecer-h1 {
    0% {
      opacity: 0;
      font-size: 1.2rem;
    }

    100% {
      opacity: 1;
      font-size: 1.7rem;
    }
  }

  @keyframes aparecer-p {
    0% {
      opacity: 0;
      font-size: 0.8rem;
    }

    100% {
      opacity: 1;
      font-size: 0.9rem;
    }
  }

  /* carrussel */

  .articulo h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .articulo ul {
    margin: 0;
  }

  .div-clas-5 {
    grid-template-columns: 1fr;
  }

  #carouselExampleIndicators,
  div:nth-child(2) {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .div-clas-5,
  article:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  #carouselExampleIndicators,
  .carousel,
  .slide,
  .pointer-event {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* Servicios */

  .animacion-imagenes {
    display: none;
  }

  .separador {
    display: none;
  }

  #arriba {
    padding-top: 4.5rem;
  }

  .grid-decoracion div {
    width: auto;
  }

  .titulo-servicios {
    font-size: 1.2rem;
    margin-bottom: 0rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    margin-right: 0;
  }

  .titulo-servicios h2 {
    margin-right: 0;
    margin-left: 0;
  }

  .parrafo-servicios {
    font-size: 0.8rem;
    padding: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }

  .parrafo-servicios p {
    margin-right: 0;
  }

  .items-mantenimiento p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #margen {
    padding: 0;
  }

  .grid-deco img,
  .grid-decoracion img,
  .grid-mantenimiento img,
  .grid-ecologico img,
  .grid-muebles img,
  .grid-iluminacion img,
  .grid-plantas img,
  .grid-vertical img {
    width: 340px;
    justify-content: center;
  }

  .imagenes-servicios img {
    justify-content: center;
  }

  /* Sección Nuestros trabajos - galería */

  /*iconos*/

  .iconos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }

  .iconos div {
    width: 9rem;
    height: 15rem;
  }

  .iconos h2 {
    font-size: 1rem;
  }

  .iconos img {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /* fotos */

  .fondo-galeria {
    padding: 0.3rem;
    margin: 0;
  }

  .h2galeria {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
  }

  .division {
    height: 3rem;
  }

  .grid-deco,
  .grid-decoracion,
  .grid-mantenimiento,
  .grid-ecologico,
  .grid-muebles,
  .grid-iluminacion,
  .grid-plantas,
  .grid-vertical {
    grid-template-columns: 1fr;
    margin-right: 1rem;
    padding: 1rem;
    align-items: center;
  }

  #deco2,
  #reposeras {
    height: 365px;
  }

  #suelo-madera {
    height: 250px;
  }

  #barra {
    height: 280px;
  }

  #mesa,
  #vertical-port {
    height: 300px;
  }

  #vertical1,
  #vertical5 {
    height: 240px;
  }

  /* Sección Como trabajamos */
  #arriba {
    font-size: 1.7rem;
  }

  .como-t {
    margin-bottom: 3rem;
    margin-top: 4.5rem;
    padding: 0;
  }

  .como-t #arriba {
    padding-top: 1.7rem;
  }

  .parrafo-como-trabajamos {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 1.7rem;
    padding-top: 0;
    margin: 0.5;
    font-size: 0.9rem;
  }

  #accordionExample {
    margin-bottom: 2rem;
    margin: auto;
  }

  /* Sección Contacto */

  .campos input {
    width: 315px;
    font-size: 0.9rem;
  }

  input:focus {
    width: 330px;
    font-size: 1rem;
  }

  #texto {
    width: 315px;
    max-width: 330px;
    resize: none;
    font-size: 0.9rem;
    font-size: 0.9rem;
  }

  textarea:focus {
    width: 330px;
    font-size: 1rem;
  }

  .cuerpo {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
}
